.main-layout {
  display: flex;
  flex: 1;
}

app-menu {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #dee2e6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100%;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
