<div class="auth-card">
  <h2>{{ isLogin() ? 'Welcome Back' : 'Create Account' }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Username -->
    <div
      class="form-field"
      [class.invalid]="form.get('username')?.invalid && form.get('username')?.touched"
      [class.valid]="form.get('username')?.valid"
    >
      <label for="username">Username</label>
      <input id="username" formControlName="username" />

      @if (form.get('username')?.errors && form.get('username')?.touched) {
      <div class="error-message">
        @if (form.get('username')?.errors!['required']) {
        <span>Username is required.</span>
        } @if (form.get('username')?.errors!['duplicate']) {
        <span>Username is already taken.</span>
        }
      </div>
      }
    </div>

    <!-- Password -->
    <div
      class="form-field"
      [class.invalid]="form.get('password')?.invalid && form.get('password')?.touched"
      [class.valid]="form.get('password')?.valid"
    >
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />

      @if (form.get('password')?.errors && form.get('password')?.touched) {
      <div class="error-message">
        @if (form.get('password')?.errors!['required']) {
        <span>Password is required.</span>
        } @if (form.get('password')?.errors!['minlength']) {
        <span>Password must be at least 8 characters long.</span>
        }
      </div>
      }
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="!form.valid">
        {{ isLogin() ? 'Login' : 'Sign up' }}
      </button>

      <button type="button" (click)="onToggle()">
        {{ isLogin() ? 'Sign up' : 'Login' }}
      </button>
    </div>
  </form>
</div>
