html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rounded-container {
  background-color: #f8f9fa;
  border-radius: 50px;
}
