<ul>
  <li>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="icon">🏠</span> Main</a>
  </li>
  <li>
    <a routerLink="/info" routerLinkActive="active"><span class="icon">ℹ️</span> Info</a>
  </li>
  <li>
    <a routerLink="/about" routerLinkActive="active"><span class="icon">❓</span> About</a>
  </li>
</ul>
<div class="datetime">
  <div class="date">{{ dateTimeService.currentTime | async | date : 'dd/MM/yy' }}</div>
  <div class="time">{{ dateTimeService.currentTime | async | date : 'HH:mm:ss' }}</div>
</div>
